html{
    display:flex;
    justify-content: center;
    min-height: 100%;
    background-color:#f4f4f4;
}
body{
    width:100%;
    max-width:1000px;
    background-color: #fff;
    min-height:100%;
    
}
.col-sm-3{
    overflow: hidden;
    text-overflow: ellipsis;
}
a {color:black; text-decoration: none; outline: none}

a:hover, a:active {text-decoration: none; }

/* // safari 효과제거 */
input[type=text], input[type=button] {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}
/* // input 버튼제거 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

